/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

server_deploy
composer_checksums.txt
yarn_checksums.txt
migration_files.txt
migration_checksums.txt
seed_files.txt
seed_checksums.txt

public/css/app.css
public/js/app.js

.DS_Store
.DS_Store?