extends layout

block content
    
    //.table-title
    //  h3 Data Table

    table.table-fill.doctor
      thead
        tr
          th.text-left doctor_id 
          th.text-left name 
          th.text-left specialization 
      tbody.table-hover
        tr
          td.text-left 1 
          td.text-left Sapphire Rapp 
          td.text-left 2 
