doctype html
html
  head
    title= "Interface for Temporal SQL" 
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/navbar-fixed-left.min.css')
    script(src='/js/jquery-3.3.1.min.js')
    link(rel='stylesheet', href='/css/table.css') 
    link(rel='stylesheet', href='/css/datepicker.css')
    script(src='/js/bootstrap-datepicker.js')
    script(src='/js/script.js')
    
  body
    div.container
      h1.title
        =title

      .navbar-fixed-left
          h3.nav-title Query List
          br
          ul.list-group.query-list
            li.nav-section CRUD Operation 
            li.list-group-item
              a(href="/treatment/latest").nostyle Latest Treatment 
            li.list-group-item
              a(href="/treatment/all").nostyle All Treatment 
            li.list-group-item
              a(href="/insert").nostyle Insert
            li.list-group-item
              a(href="/treatment/update/list").nostyle Update
            li.list-group-item
              a(href="/treatment/delete").nostyle Delete
            li.nav-section.nav-section-2 Temporal Algebra 
            li.list-group-item
              a(href="/treatment/select/input").nostyle Selection 
            li.list-group-item
              a(href="/algebra").nostyle Projection 
            li.list-group-item
              a(href="/treatment/diff/input").nostyle Difference
            li.list-group-item
              a(href="/treatment/union/input").nostyle Union
            li.list-group-item
              a(href="/treatment/join/input").nostyle Join 
            li.list-group-item
              a(href="/treatment/timeslice/input").nostyle Time Slice
            li.list-group-item
              a(href="/allen").nostyle Allen's Intervals


      block content
