extends layout

block content

    table.table-fill.patient
      thead
        tr
          th.text-left patient_id
          th.text-left name
          th.text-left date_birth
          th.text-left gender
      tbody.table-hover
        tr
          td.text-left 1
          td.text-left Maxwell Trunks
          td.text-left 9/24/1978
          td.text-left Male
