extends layout

block content

    table.table-fill.specialization
      thead
        tr
          th.text-left specialization_id
          th.text-left specialization
      tbody.table-hover
        tr
          td.text-left 1
          td.text-left oncology
